* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rasa', serif;
    }
.header{
    background: rgba(229, 84, 115, 0.10);
    max-width: 1920px;
    max-height: 850px;
flex-shrink: 0;
margin: 0px;
    /* background-size: 500px;
    height: 500px; */
    /* margin: auto;
    flex-shrink: 0;
    border: 0px;
    padding: 0px; */
    
}
.banner-title{
    font-family: josefin sans;
    font-weight: 800;
    color: #272727;
    font-size: 80px;
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
padding-top: 50px;
padding-left: 60px;
padding-bottom: 5px;
}
.banner-content{
   
}
.banner-description{
    padding-left:60px;
    display: flex;
    width: 634px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-weight: 400;
line-height: 20px;
padding-top: 0px;
font-family: josefin sans;

}

.banner-image{
    /* display: inline-block; */
    size: 50px;
    width: 420px;
    padding-left: 100px;
   height: 600px;
   padding-bottom: 0px;
}
.banner{
    display: flex;
    padding-left: 30px;
    margin: 0px
    
}
.banner-btn{
    margin-left: 60px;
    width: 90px;
    height: 40px;
    border-radius: 8px;
background: #E55473;
color: #FFFFFF;
border-color: #E55473;
box-shadow: none;
margin-bottom: 0px;
font-family: josefin sans;
}
.featured{
    margin-top: 100px;
}
.section-title{
    color: #272727;
text-align: center;
font-family: josefin sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.section-description{
    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: josefin sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-left: 363px;

}
.featured-img1{
    max-width: 310px;
max-height: 428px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding-top: 48px;
padding-right: 50px;
padding-left: 40px;
size: 100px;
margin-left: 60px;

}

.featured-img2{
    /* max-width: 370px;
max-height: 370px; */
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding-top: 48px;
padding-right: 10px;
padding-left: 40px;
size: 100px;
width: 350px;
height: 420px;
margin-left: 24px;
padding-bottom: 10px;
margin-bottom: 0px;

}
.featured-img3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding-left: 4px;
margin-left: 24px;
height: 470px;
width: 350px;
margin-right: 0px;
padding-right: 5px;

}

.featured-flwr-container{
    display: flex;
    justify-content: space-around;
}
.ftrd-title{
    color: #272727;
text-align: center;
font-family: josefin sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.sale-title{
    color: #272727;
font-family: josefin sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 150px;
padding-left: 200px;
display:flex;
/* color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
display: flex; */
}
#off{
    color: #E55473;
    font-family: josefin sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sale{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
/* display: flex; */




}
.sale-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: josefin sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
padding-left: 200px;
padding-top: 0px;
/* display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; */
}
.sale-btn{
    color: #FFF;
font-family: josefin sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
border-color: #E55473;
background: #E55473; 
margin-left: 400px;
margin-bottom: 80px;
/* display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal; */
}
.sale-img{
    padding-left: 850px;
   
    
   
}
.instagram-description{
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: josefin sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-left: 380px;
}
.instagram{
    color: #272727;
text-align: center;
font-family: josefin sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.flwr1{
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 24px;
}
.flwr2{
    width: 300px;
    height: 400px;
    flex-shrink: 0;

}
.flwr3{
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    padding-left: 24px;

}
.flwr4{
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    padding-left: 24px;
}
.deal-title{
    color: #272727;
text-align: center;
font-family: josefin sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 120px;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: josefin sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-top: 0px;
}
.deal{
    background-image: url(../images/Rectangle\ 9.png);
    width: 1340px;
height: 449px;
flex-shrink: 0;
margin-top: 100px;

}
#email{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: josefin sans;
font-size: 16px;
text-align: left;
font-style: normal;
padding-left: 50px;
font-weight: 400;
line-height: normal;
}
#email-input{
    width: 700px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
background-color: #FFF;
margin-left: 200px;
padding-left: 20px;
align-self: center;
font-family: josefin sans;

}
.subscribe{
width: 88px;
height: 27.429px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-family: josefin sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 150px;
height: 70px;
flex-shrink: 0;
border-radius: 8px;
border-color: #E55473;
background: #E55473;
align-self: center;
padding-top: 20px;
padding-left: 25px;
margin-left: 20px;
padding-bottom: 20px;
}
.footer-title{
    color: #E55473;
font-family: josefin sans;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
padding-top: 120px;
}
.shop{
    color:#FFFFFF;
font-family: josefin sans;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer{
    background: #111010;
    width: 1340px;
height: 449px;
flex-shrink: 0;
}
.footer-description{
    display: flex;
width: 625px;
flex-direction: column;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: josefin sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-left: 350px;
}
.footer-footer{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: josefin sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 50px;
}
.custom-title{
    color: #272727;
text-align: center;
font-family: josefin sans;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 50px;
}
.custom-description{
    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: josefin sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-left: 363px;

}
.custom-img1
{
height: 500px;
width: 400px;
}
.custom-img2{
    height: 500px;
    width: 300px;
    

}
.custom-img3{
    height: 500px;
    width: 300px;
}
.custom-img4{
    width: 300px;
    height: 500px;
}
.custom-flwr-container{
    display: flex;
    justify-content: space-around;
}
.custom-name{
    color:#E55473;
text-align: center;
font-family: josefin sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;

}